html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.mt-2 {
  margin-top: 20px;
}

.ml-1 {
  margin-left: 10px;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.delete-item {
  padding: 2px!important;
  font-size: 26px;
  color: #c75858!important;
  background: transparent;
  border: 0!important;
}

ul {
  padding-left: 20px;
}